<div class="contact-page">
  <div class="top">
    <div class="title">SAY HELLO</div>
    <div class="content-container">
      <div class="box">
        <a href="mailto:xavierantonyamilden@gmail.com"
          >xavierantonyamilden@gmail.com</a
        >
        <a href="https://t.me/xavieramil">t.me/xavieramil</a>
      </div>
      <div class="box">
        <a href="../../assets/docs/resume.pdf" target="_blank">My Resume</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content">
      <div class="copyrights">© xavierantonyamilden 2023</div>
      <div class="socialMediaIcons">
        <a href="mailto:xavierantonyamilden@gmail.com" target="_blank"
          ><img class="icon" src="../../assets/images/gmail.png" alt="gmail"
        /></a>
        <a href="https://wa.me/6374795004" target="_blank"
          ><img
            class="icon"
            src="../../assets/images/whatsapp.png"
            alt="whatsapp"
        /></a>
        <a href="tel:6374795004" target="_blank"
          ><img class="icon" src="../../assets/images/phone.png" alt="phone"
        /></a>
        <a
          href="https://www.linkedin.com/in/xavier-antony-amilden-i-7505bb198"
          target="_blank"
          matTooltip="Linkedin"
          matTooltipPosition="above"
          ><img
            class="icon"
            src="../../assets/images/linkedin.png"
            alt="linkedin"
        /></a>
        <!-- <a href="https://github.com/Amilden" target="_blank"
          ><img class="icon" src="../../assets/images/github.png" alt="github"
        /></a> -->
      </div>
    </div>
  </div>
</div>
