<div class="part-a">
  <div class="left-screen">
    <div class="section bg">
      <div class="name lineUp">XAVIER ANTONY AMILDEN I</div>
    </div>
    <div class="role">Fullstack<br /><br /><br /><br /><br />Developer</div>
    <div class="description">
      I like to craft solid and scalable Fullstack products<br />with great user
      experiences.
    </div>
    <div class="objective">
      As a web developer, my objective is to create user-friendly and efficient
      websites that are visually appealing and easy to navigate.
    </div>
  </div>
  <div class="right-screen">
    <!-- <div class="buttons">
      <div style="text-align: start;" >
        <img class="homeIcon" src="../../assets/images/home.png" (click)="sample()"/>
      </div>
      <div style="text-align: end;">
        <img class="contactIcon" src="../../assets/images/contact.png" />
      </div>
      <div style="text-align: start;">
        <img class="homeIcon" src="../../assets/images/home.png" />
      </div>
      <div style="text-align: end;">
        <img class="contactIcon" src="../../assets/images/contact.png" />
      </div>
    </div> -->
    <img
      class="profile-photo"
      src="../../assets/images/amil.jpg"
      alt="profile-photo"
    />
  </div>
</div>
