<html>
  <div class="partA" id="partA">
    <app-part-a></app-part-a>
    <div class="buttons">
      <div style="text-align: start">
        <a href="#partA"
          ><img
            class="homeIcon"
            src="../../assets/images/home.png"
        /></a>
      </div>
      <div style="text-align: end">
        <a href="#partC"
          ><img
            class="contactIcon"
            src="../../assets/images/contact.png"
        /></a>
      </div>
      <div style="text-align: start">
        <img class="homeIcon" src="../../assets/images/home.png" />
      </div>
      <div style="text-align: end">
        <img class="contactIcon" src="../../assets/images/contact.png" />
      </div>
    </div>
  </div>
  <!-- <app-part-b></app-part-b> -->
  <div class="partC" id="partC">
    <app-part-c></app-part-c>
  </div>
</html>
